.client-main {
    margin: 15px 0 15px 0;
    padding: 15px 0 15px 0;
    border-top: 1px solid #9e9696;
    border-bottom: 1px solid #9e9696;
    .add-client{
        margin: 10px 0 10px 1%;
    }
    #client-list{
        .client-box{
            display: inline-block;
            width: 47%;
            padding: 1%;
            margin: 1%;
            border: 1px solid #9e9696;
        }
    }
}
